body {
  text-align: center;
  background-color: #e5ffb5;
}
#container {
  width: 90%;
  max-width: 650px;
  height: auto;
  background-color: #fff;
  margin: 50px auto;
  padding: 0px 30px 40px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 10%);
  border-radius: 20px;
}
.block1 {
  font-size: 4rem;
  color: #1f530f;
  padding: 50px;
  margin: 0;
}
.block2 {
  text-align: center;
  margin-top: 50px;
  padding: 20px 20px 0 20px;
}
h2 {
  font-size: 1.8rem;
}
.pj-list {
  width: 300px;
  height: auto;
  font-weight: bold;
  font-size: 18px;
  list-style: none;
  margin: auto;
}
li {
  text-align: left;
  margin: 1rem 0;
}
span {
  color: #ccc;
}
